body{
    margin: 0;
}
.first-page{
    background-image: url(etienne-beauregard-riverin-B0aCvAVSX8E-unsplash.png);
    background-position: center;
    background-size:  auto;
    background-repeat: no-repeat;
    height: 790px;
    padding: 0 150px;
    border-bottom: 1px blue;
}
.header{
    display: flex;
    padding: 20px 0;
    border-bottom: 2px solid #fff;
}
#nav{
    list-style-type: none;
    display: flex;
    position: relative;
    top: 20px;
    left: 200px;
}
.nav-list{
    padding: 0 20px;
}
a{
    color: #fff;
    text-decoration: none;
}
.main{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: 50px;
}
h1{
    font-family: system-ui, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #fff;
    font-weight: 700;
    font-size: 2.5rem;
    position: relative;
    top: 30px;
}
.map-select{
    display: grid;
}
span{
    background-color: #fff;
    padding: 5px 10px;
    box-sizing: border-box;
    border: none;
    border-radius: 7px;
    height: fit-content;
    width: 410px;
    position: relative;
    top: -13px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#all-type, #neighbourhood{
    height: 40px;
    width: 150px;
    padding: 10px;
    border-radius: 5px;
}
label{
    padding-left: 10px;
}
#search{
    background-color: #23A6F0;
    border: 1px solid #E6E6E6;
    margin-left: 3px;
    height: 40px;
    width: 40px;
    border-radius: 5px;
}
.second-page{
    background-color: #E5E5E5;
    padding: 0 150px;
    border: solid #E5E5E5;
}
.main2{
    display: flex;
    justify-content: center;
    align-items: center;
}
#main2img{
    position: relative;
    left: -50px;
}
.perks{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.perks img{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 13px 15px rgba(0, 0, 0, 0.3);
}
h3{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}
.third-page{
    background-color: #F5F5F5;
    padding: 0 150px;
    border: solid #F5F5F5;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 0;
}
h2{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.top button{
    background-color: #F4511E;
    height: 40px;
    border: none;
    color: #fff;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding: 10px;
    font-size: .7rem;
}
.tiles{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.property-tiles{
    margin: 15px 30px;
    border-radius: 25px;
    background-color: #fff;
}
.property-tiles:hover{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
#first-tile{
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}
h4{
    color: #818181;
    margin: 0 20px;
    font-weight: normal;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: small;
}
#amount{
    margin: 5px 0 0 20px;
    color: #F4511E;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    font-size: 1.5rem;
}
#attributes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 17px;
}
#attributes p{
    border: 1px solid #E4E4E4;
    height: 60px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
}
#attributes p:nth-child(1){
    border-radius: 0 0 5px 5px;
    border-left: none;
}
#attributes p:nth-child(3){
    border-radius: 0 0 5px 5px;
    border-right: none;
}
#attributes p:nth-child(even){
    border-left: none;
    border-right: none;
}
#attributes img{
    padding-right: 15px;
}